<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%- process.env.GOOGLE_MAPS_KEY %>&callback=initMap&libraries=places">
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Job Spotter Spotter</h1>
    <p>Let's try this out</p>
  </div>
  <div id="load"></div>
  <div id="map"></div>

  <script>

    async function initMap() {
      var uluru = {lat: 49.3003431,	lng: -123.0823739};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: uluru
      });

      var postings = JSON.parse(JSON.stringify(<%- JSON.stringify(data) %>))

      postings.forEach((post) => {
        // console.log('Post: ', post)
        new google.maps.Marker({
          position: {
            lat: post.latitude,
            lng: post.longitude
          },
          map: map
        });
      })
    }
  </script>
</div>

</body>
</html>
