<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%- process.env.GOOGLE_MAPS_KEY %>&callback=initMap&libraries=places">
    </script>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container"></div>
    </div>
  </body>
</html>